.profile {
    background-color: #202020;
    font-family: 'Inter';
    font-style: normal;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__title {
    margin: 123px auto;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

}

.profile__form {
    display: flex;
    flex-direction: column;

}

.profile__fieldset {
    border: none;
    padding: 0;
    margin: 0;
    width: 410px;
}

.profile__fields {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #424242;
    padding-bottom: 16px;
}

.profile__fields:last-of-type {
    border-bottom: none;
    padding: 0;
    margin-top: 17px;
}

.profile__input-name {
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    margin: 0;
}
.profile__input-email {
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    margin: 0;
}
.profile__input {
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    background-color: #202020;
    border: none;
    text-align: right;
}


.profile__box {
    margin: 220px auto 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__button_edit {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;

    border: none;
    color: #fff;
    background-color: transparent;
}

.profile__button_edit:hover {
    cursor: pointer;
    opacity: 0.7;
}

.profile__button_logout {
    margin-top: 16px;
    border: none;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #EE3465;
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
}

.profile__button_logout:hover {
    opacity: 0.7;
}