.about {
    display: flex;
    flex-direction: column;
    padding: 110px 70px;
}

.about__box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    margin: 70px 0 110px;
}

.about__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.about__timing {
    padding: 0;
    display: grid;
    grid-template-columns: minmax(141px, 228px) minmax(529px, 912px);
}

.about__one-week {
    grid-row: 1;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    padding: 9px 14px;
    margin: 0;
    background-color: #3DDC84;
    max-width: 228px;
    box-sizing: border-box;
}

.about__four-week {
    grid-row: 1;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    padding: 9px 14px;
    margin: 0;
    background-color: #303030;
    box-sizing: border-box;
    max-width: 912px;
}

.about__caption {
    grid-row: 2;
    font-family: 'Suisse Intl';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #8B8B8B;
    max-width: 200px;
    justify-self: center;
}

@media screen and (max-width: 780px) {
    .about {
        padding: 90px 50px;
    }

    .about__one-week {
        max-width: 140px;
        height: 36px;
    }

    .about__box {
        display: grid;
        margin: 60px 0 60px;
    }

    .about__timing {
        grid-template-columns: minmax(100px, 140px) minmax(184px, 528px);
        ;
    }

    .about__caption {
        font-weight: 400;
    }

}

@media screen and (max-width: 668px) {
    .about {
        padding: 70px 18px;
    }

    .about__box {
        display: grid;
        grid-template-columns: 1fr;
        margin: 70px 0 93px;
    }

    .about__container {
        margin-bottom: 56px;
    }

    .about__container:last-child {
        margin: 0;
    }

    .about__caption {
        font-size: 11px;
        line-height: 13px;
    }
}