.notFound {
    max-width: 100%;
    height: 100vh;
    background-color: #202020;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
}

.notFound__container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notFound__title {
    font-size: 140px;
    line-height: 169px;
    color: #FFF;
    margin: 0;
}

.notFound__text {
    font-size: 16px;
    line-height: 19px;
    margin-top: 5px;
    margin-bottom: 0;
    color: #FFF;
}

.notFound__return {
    justify-self: flex-end;
    text-decoration: none;
    margin-bottom: 60px;
    font-size: 14px;
    line-height: 17px;
    color: #4285F4;
    cursor: pointer;
}

.notFound__return:hover {
    opacity: 0.7;
}


@media screen and (max-width: 568px) {
    .notFound__title {
        font-size: 80px;
        line-height: 97px;
    }

    .notFound__text {
        font-size: 12px;
        line-height: 15px;
    }

    .notFound__return {
        margin-bottom: 30px;
        font-size: 12px;
        line-height: 15px;

    }
}