.cardList {
    padding: 117px 70px 80px;
    list-style-type: none;
}

.cardList__container {
    margin: 0;
    padding: 0;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    column-gap: 28px;
    row-gap: 32px;
}

.cardList__more-button {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    width: 320px;
    height: 36px;
    color: #fff;
    background: #2F2F2F;
    border-radius: 6px;
    padding: 0;
    margin: 50px auto 0;
    border: none;
    justify-self: center;
    cursor: pointer;
    transition: transform 0.6s, opacity 0.6s ease;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cardList__more-button:hover {
    transform: scale(1.2);
    transform-origin: center;
    opacity: 0.7;
}

.cardList__more-button:active {
    transform: scale(1);
}

@media screen and (max-width: 812px) {
    .cardList {
        padding: 70px 30px 80px;

    }

    .cardList__container {
        grid-template-columns: repeat(auto-fit, minmax(342px, 1fr));
        column-gap: 24px;
        row-gap: 35px;
    }
}

@media screen and (max-width: 568px) {
    .cardList {
        padding: 40px 10px 80px;
    }

    .cardList__container {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        row-gap: 16px;
    }
}