.techs {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 94px 70px 100px;
}

.techs__container {
    margin-top: 90px;
    margin-bottom: 100px;
}

.techs__list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.techs__item {
    width: 90px;
    height: 60px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 17px;
    margin: 10px 10px 0 0;
    background-color: #303030;
    border-radius: 10px;
    padding: 21px 0;
}
.techs__item:last-of-type {
margin-right: 0;
}

@media screen and (max-width: 800px) {
    .techs {
        padding: 90px 60px;
    }

    .techs__container {
        margin-top: 80px;
        margin-bottom: 83px;
    }

    .techs__item {
        width: 84px;
        height: 57px;
        font-size: 12px;
        line-height: 15px;
    }
}

@media screen and (max-width: 568px) {
    .techs {
        padding: 70px 18px;
    }

    .techs__container {
        margin-top: 60px;
        margin-bottom: 50px;
    }
}