.header {
    position: relative;
    max-width: 100%;
    background-color: #073042;
    padding: 18px 70px;
    z-index: 1;
}

.header__image {
    max-width: 38px;
    max-height: 38px;
}

.header__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 810px) {
    .header {
        max-width: calc(100% - 60px);
        padding: 18px 30px;
    }
}

@media screen and (max-width: 568px) {
    .header {
        max-width: calc(100% - 28px);
        padding: 18px 14px;
    }
}