.burger {
    display: none;

}

.burger__container {
    margin: 159px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.burger__menu {
    background-color: #202020;

    position: fixed;
    top: 0;
    right: -100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 68%;
    height: 100vh;
    transition: left 1s;
    z-index: 3;
}

.burger__menu_active {
    right: 0;
}

@media screen and (max-width: 768px) {
    .burger {
        display: block;
        position: fixed;
        top: 0;
    }

    .burger__image {
        width: 44px;
        height: 44px;
        position: absolute;
        top: 22px;
        right: 722px;
    }

}

@media screen and (max-width: 56p8x) {
    .burger {
        width: 40px;
        height: 43px;
    }

}