.register {
    max-width: 100%;
    height: 100vh;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    background-color: #202020;
    padding: 70px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.register__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #fff;
    margin: 40px 0;
}

.register__inputs {
    margin-bottom: 5px;
    margin-top: 0;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #8B8B8B;
}

.register__input {
    color: #fff;
    background-color: #202020;
    border: none;
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 5px;
}

.register__error {
    padding: 0;
    margin: 6px 0 0 0;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #EE3465;
    /* display: none; */
}

.register__span-active {
    display: block;
}

.register__fieldset {
    border: none;
    padding: 0;
    margin: 0;
    width: 396px;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.register__fields {
    padding-bottom: 10px;
    border-bottom: 1px solid #424242;
}

.register__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 152px auto 70px;
}

.register__button {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    width: 396px;
    height: 45px;
    color: #fff;
    background: #4285F4;
    border-radius: 3px;
    cursor: pointer;
}

.register__button-disabled {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    width: 396px;
    height: 45px;
    color: #fff;
    background: #4285F4;
    border-radius: 3px;
    opacity: 0.8;
}


.register__button:hover {
    opacity: 0.7;
}

.register__button-disabled:hover {
    cursor: default;
    opacity: 0.8;
}

.register__text {
    margin: 0;
    color: #8B8B8B;
}

.register__login {
    color: #4285F4;
    text-decoration: none;
    margin-left: 6px;
}

.register__link {
    margin: 16px auto 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

@media screen and (max-width: 568px) {
    .register__title {
        margin: 50px auto 80px;
    }

    .register__container {
        align-items: center;
    }

    .register__fieldset {
        margin: 0 auto;
        width: 260px;
        gap: 24px;
    }

    .register__box {
        margin: 250px auto 30px;
    }

    .register__button {
        font-size: 12px;
        line-height: 15px;
        width: 260px;
        height: 45px;
    }

    .register__link {
        margin: 14px auto 0;
        font-size: 12px;
        line-height: 15px;
    }

    .register__span {
        margin-top: 16px;
    }
}